@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lightgreen;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 1.25em;
    font-family: "Orbitron", sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    img {
        width: 50px;
    }
    h1 {
        margin-left: 10px;
        text-align: center;
        font-size: 2em;
        font-family: "Zen Dots", sans-serif;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.board,
.stats,
.game-settings {
    display: flex;
}

.board {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 350px;
    max-width: 600px;
    div {
        display: flex;
        gap: 0.5rem;
    }

    img {
        width: 90px;
        height: auto;
        max-width: 12vw;
        transition: filter 0.2s;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        transition: 0.1s linear;
    }

    img:hover {
        scale: 1.1;
    }
}

.stats, .game-settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 250px;
    max-width: 350px;
}

.stats {
    align-items: flex-start;
    article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.game-settings {
    align-items: flex-start;
    
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
    }

    .difficult-selector {
        input,
        label {
            font-size: 0.85em;
            margin-right: 0.25rem;
        }
    }

    .board-options {
        label,
        input {
            font-size: 0.85em;
            margin-right: 0.25rem;
        }

        input {
            width: 6rem;
        }
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        font-weight: 600;
        border: none;
        border-radius: 0.5rem;
        background-color: lightyellow;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: 0.1s linear;
    }

    button:hover {
        background-color: green;
        scale: 1.1;
    }
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    margin-top: 3rem;
}

@media (max-width: 1000px) { /* En pantallas pequeñas, apilar contenido */
    .main {
        flex-direction: column;
        align-items: center;
    }
    .board, .stats, .game-settings {
        max-width: 100%;
        width: 100%;
    }
}